.section_light {
  background: var(--color-bg-grey);
}

.h1__hero {
  color: var(--color-text);
  font-family: 'Fira Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 54px */
}

.btn {
  color: var(--color-text);
  font-family: 'Fira Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 16px 32px;
  border-radius: 10px;
  border: 1px solid var(--color-stroke, #4d5064);
}

.btn-primary {
  background: var(--color-btn);
}

.btn_ghost {
  background: none;
}

@media (max-width: 360px) {
  .h1__hero {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .btn {
    display: inline-block;
    padding: 12px 24px;
    align-items: flex-start;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    flex-shrink: 0;
    gap: 10px;
    text-align: center;
  }
  .btn_wrapper {
    display: flex;
    gap: 14px;
    margin-top: 21px;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon-wrapper-icon {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  border: 1px solid var(--color-stroke);
  border-radius: 8px;
  padding: 11px;
}
.course_btn {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 4px;
  background: var(--Black, #16171d);

  color: var(--White, #fafafa);
  text-align: center;

  /* Button */
  font-family: 'Fira Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.course_btn_active {
  background: var(--Violet, #6c38cc);
}

.cousecard__header {
  color: var(--White, #fafafa);

  /* H3 Desktop */
  font-family: 'Fira Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

.cousecard__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px;
}

.cousecard__autor {
  color: var(--Gray, #afb2bf);

  /* Body 18 120% */
  font-family: 'Fira Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.cousecard__time {
  color: var(--White, #fafafa);

  /* Body 16 120% */
  font-family: 'Fira Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  display: flex;
  gap: 8px;
  align-items: center;
}

.cousecard__btn_wrapper {
  display: flex;
  gap: 12px;
}

.card_btn {
  border-radius: 17px;
  border: 1px solid var(--Gray-stroke, #4d5064);
  background-color: var(--Gray-dark, #1e1f29);
}

.cousecard__prise {
  border-radius: 0px 0px 10px 10px;
  background: var(--Violet-dark, #2e2d3d);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 24px;
}

.cousecard__prise_price {
  color: var(--White, #fafafa);

  /* H4 Desktop */
  font-family: 'Fira Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
}

.school_card {
  border-radius: 10px;
  background: var(--Violet-dark, #2e2d3d);
  padding: 48px 24px;
  width: 360px;
}

.school_card_grad {
  background: var(
    --Grad1,
    linear-gradient(93deg, #d77be5 9.26%, #be63e5 42.32%, #6c38cc 104.58%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Fira Sans';
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 55.2px */
}

.school_card_text {
  color: var(--White, #fafafa);
  text-align: center;

  /* Body 18 120% */
  font-family: 'Fira Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}

.school_cardbottom {
  padding: 24px 32px;
  border-radius: 10px;
  background: var(--Violet-dark, #2e2d3d);
  display: flex;
  gap: 24px;
  align-items: center;
}

.card_score {
  color: var(--White, #fafafa);
  font-family: 'Fira Sans';
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
}

.card_stars {
  color: var(--Gray, #afb2bf);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
