:root {
  --color-btn: #6c38cc;
  --color-bg: #16171d;
  --color-bg-grey: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-text: #fafafa;
  --color-link-color: #afb2bf;
  --color-stroke: #4d5064;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}
